<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<context:annotation-config />

    <bean id="christmas" class="com.jk.springtest.hello.Holiday">
        <property name="month" value="12" />
        <property name="day" value="25" />
        <property name="greeting" value="Merry Christmas!" />
    </bean>

    <bean id="newYear" class="com.jk.springtest.hello.Holiday">
        <property name="month" value="1" />
        <property name="day" value="1" />
        <property name="greeting" value="Happy New Year!" />
    </bean>

    <bean id="helloWorld" class="com.jk.springtest.hello.HelloWorld" scope="prototype" p:message="How are you today?" >
        <property name="holidays">
            <list>
                <ref bean="christmas" />
                <ref bean="newYear" />
            </list>
        </property>
    </bean>
</beans>
